

<link rel='stylesheet' href='javascripts/tests/ael/rlo.css' />

<script src="javascripts/tests/libs/easeljs-0.5.0.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="javascripts/tests/style_teme_check.css" />

<script src="javascripts/tests/interact-js/teme_quizcheckbox.js" type="text/javascript"></script>

<script src="javascripts/tests/interact-js/button.js" type="text/javascript"></script>

<script src="javascripts/tests/interact-js/applet_teme_Check.js" type="text/javascript"></script>


    <div id="block-page">
        <div id="block-left"></div>
        <div id="block-top"></div>
    </div>
    <div id="applet" aria-hidden="true">

                <div id="quizContainer1" class="quizContainer">
					<div id="quiz11" class="quizcheckbox">
                        <div id="question_1" class="question_init">
                            <span><h3>Angular JS permite :</h3></span>
                        </div>
                        <div class="container_answers">
                            <div class="answer">
                                <div class="check" id="1" grup="1" value="true"></div>
                                <span>*Data binding-ul</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="2" grup="1" value="true"></div>
                                <span>*Manipularea DOM-ului</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="3" grup="1" value="true"></div>
                                <span>*Folosirea directivelor</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="4" grup="1"></div>
                                <span>Generarea tag-urilor HTML</span>
                            </div>

                            <button id="butVerifica" class="valideaza disabled">
                                <div class="simbol validare disabled"></div>
                            </button>
                        </div>
                    </div>
				</div>

                <div id="quizContainer2" class="quizContainer">
                    <div id="quiz12" class="quizcheckbox">
                        <div id="question_2" class="question_init">
                            <span><h3>MongoDB asigura:</h3></span>
                        </div>
                        <div class="container_answers">
                            <div class="answer">
                                <div class="check" id="1" grup="1" value="true"></div>
                                <span>*Scalabilitate usoara</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="2" grup="1" value="true"></div>
                                <span>*Performanta ridicata</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="3" grup="1" value="true"></div>
                                <span>*Operatii avansate</span>
                            </div>
                            <div class="answer">
                                <div class="check" id="4" grup="1" value="true"></div>
                                <span>*Servere replicate</span>
                            </div>

                            <button id="butVerifica" class="valideaza disabled">
                                <div class="simbol validare disabled"></div>
                            </button>
                        </div>
                    </div>
                </div>



                <button id="butText" class="" ng-click="butQuitClicked()">
                    <span>Quit</span>
                </button>
                <button id="butNext" class="">
                    <div class="simbol next"></div>
                </button>

                <button id="butPrev" class="">
                    <div class="simbol prev"></div>
                </button>
    </div>
