<div class="container-fluid">
    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Catalog</h1>
        </div>
    </div><!-- /.row -->
    <div class="row">
    	<div ng-if="emptyList == true">
			<div class="col-md-6 col-md-offset-4">
				<b>Nu exista utilizatori inregistrati la cursurile dumneavoastra.</b>
			</div>
		</div>
		<div id="loading" ng-if="emptyList == null"></div>
		<div ng-repeat="user in users" ng-if="emptyList == false">
			<div class="row-fluid">
				<div class="container-fluid well col-lg-5 col-lg-offset-1">
					<div class="row-fluid">
						<div class="col-md-4">
							<img ng-src="{{user.imgPath}}" class="img-circle" style="width:140px; height:140px">
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-4">
									<h3>{{user.nume}} {{user.prenume}}</h3>
									<h4>Email: {{user.email}}</h4>
									<h4>Facultate: {{user.facultate}}</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="btn-group">
										<a ui-sref="account_prof.usersGrades({ID: user._id })">
											<button type="button" class="btn btn-info">
												Note
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>