<div class="col-lg-6">
    <form id="new-class-form" autocomplete="off" action="/signup" method="post">
        <header class="icon">
            <div class="text">
                <p class="heading"><i class="fa fa-fw fa-columns fa-2x"></i>Curs Nou</p>
            </div>
        </header>



    <!-- Display Popup Button -->
        <div class="new-class-field">

                <em>Materie</em>
                <select class="" id="classSubject">
                    <option ng-repeat="subject in subjects">{{subject.subject_name}}</option>
                </select>
                <a data-toggle="modal" data-target="#new_subject_modal" style="position:relative; top:10px">
                    <i class="fa fa-fw fa-plus fa-3x addSubjectIcon"></i>
                </a>

                <div class="alert alert-danger" role="alert" ng-show="error_subject == true">
                    <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Eroare:</span>Trebuie sa specificati materia
                </div>
                 <div class="alert alert-danger" role="alert" ng-show="error_subjectListEmpty == true">
                    <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Eroare:</span>Nu a fost adaugat nicio materie. Apasati pe semnul 'Plus' pentru a adauga o materie noua
                </div>
        </div>
        <div class="new-class-field">
                <em>Credite</em>
                <input type="number" value="1" min="1" max="10" step="1" id="classCredite"/>
        </div>
        <div class="new-class-field">
                <em>Tip examen</em>
                <label >
                    <input type="radio" id="exam" name="tipExamen" checked="checked" value="Examen" /> Examen
                </label>
                <br />
                <label >
                    <input type="radio" id="verificare" name="tipExamen" value="Verificare" /> Verificare
                </label>
        </div>
        <div class="new-class-field">
                <em>Sala</em>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" type="text" ng-maxlength="50" ng-minlength="2" name="name" id="classRoom">
                <div class="alert alert-danger" role="alert" ng-show="error_room == true">
                    <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Eroare:</span>Trebuie sa specificati sala
                </div>
        </div>
        <div class="new-class-field">
                <em>Zi</em>
                <select class="" id="classDay">
                    <option ng-repeat="day in days">{{day}}</option>
                </select>
        </div>
        <div class="new-class-field">
                <em>Ora</em>

                <input type="text" style="width : 80px" id="start_time" name="start_time" class="timepicker" placeholder="h:mm" data-default-time="false" value="0:00">
                to
                <input type="text" style="width : 80px" id="end_time" name="end_time" class="timepicker" placeholder="h:mm" data-default-time="false" value="0:00">

                <div class="alert alert-danger" role="alert" ng-show="error_time == true">
                    <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Eroare:</span>Orele introduse sunt invalide.
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.timepicker').timepicker({
                            showMeridian : false,
                            showInputs : false
                        });
                });
                </script>

        </div>
        <div class="new-class-field">
                <em>Profesor</em>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" type="text" ng-maxlength="50" ng-minlength="2" required="" name="name" id="classTeacher" ng-model="teacher.name" disabled />
        </div>
        <div class="new-class-field">
            <em>Descriere [optional]</em>
            <textarea placeholder="Descrie aici ce va fi studiat la curs..." class="form-control" id="descriptionClass" rows="3" style="resize:none"></textarea>
         </div>
        <div class="addNewClassBtns clearfix">
            <button type="button" ng-click="addNewClass(currentUser)" class="btn btn-primary btn-lg dark-blue-btn">Adauga</button>
            <button type="button" ui-sref="account_prof.classes" class="btn btn-primary btn-lg dark-blue-btn">Inchide</button>
        </div>
    </form>



    <div class="modal fade" id="new_subject_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header icon">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="text">
                        <p class="heading ng-binding" ><i class="fa fa-fw fa-book fa-2x"></i>Materie Noua</p>
                    </div>
          </div>
          <div class="modal-body">
                    <form class="ng-pristine ng-invalid ng-invalid-required" novalidate="" autocomplete="off" action="/addNewClass" method="post" name="subjectForm">
                            <div class="with-color-picker clearfix">
                                <div>
                                    <em>Nume</em>
                                    <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" type="text" ng-maxlength="50" ng-minlength="2" required="" name="name" id="subjectName">
                                    <div class="alert alert-danger" role="alert" ng-show="error_empty_string == true">
                                        <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                                        <span class="sr-only">Eroare:</span>Numele materiei trebuie completat
                                    </div>
                                </div>
                            </div>
                        <div class="text">
                            <div class="alert alert-danger" role="alert" ng-if="subjectExists == true">
                                <span class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></span>
                                <span class="sr-only">Eroare:</span>O materie cu acest nume exista deja
                            </div>
                        </div>
                    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg dark-blue-btn" data-dismiss="modal">Inchide</button>
            <button type="button" class="btn btn-primary btn-lg dark-blue-btn" ng-click="addNewSubject()">Adauga</button>
          </div>
        </div>
      </div>
    </div>




</div>
