<div class="container-fluid">
    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Calendar</h1>
        </div>
    </div><!-- /.row -->

    <div class="row">
		<div id="loading"></div>
		<div id='calendar'></div>
		<div id="msg-correct" style="display:none; color:#5cb85c">Evenimentul a fost inserat cu succes.</div>
		<div id="msg-delete" style="display:none; color:#5cb85c">Stergerea evenimentului s-a efectua cu succes.</div>
    </div>
</div>

<br /><br /><br />